# Packages needed in Python environment

# torch
# torchvision
# pip install torch is not supported on windows
# instead, use:
# conda install torch torchvision

jupyter
jupyterlab
ipfshttpclient
web3