# Packages needed in Python environment

base58
joblib
jupyter
jupyterlab
ipfshttpclient >= 0.4.13.2  # for compatibility with go-ipfs v0.5.x
matplotlib
methodtools
more_itertools
numpy
pandas  # required to read covid hackathon data
pytest
scipy
syft
# torch: pip install torch is not supported on windows, use conda instead
# torchvision
web3
