# Packages needed in Python environment

base58
joblib
jupyter
jupyterlab
ipfshttpclient
matplotlib
methodtools
more_itertools
numpy
pandas  # required to read covid hackathon data
pytest
pyvacy
scipy
syft
# torch: pip install torch is not supported on windows, use conda instead
# torchvision
web3
